@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400&display=swap');

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Heebo', sans-serif;
}

/* .......... card .......... */

.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 330px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  margin-inline: auto;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  /* opacity: 0; */
  background-color: #FED9ED;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  margin-bottom: .25rem;
}

.card__title {
  font-weight: 500;
  margin-bottom: .75rem;
}
