@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400&display=swap');

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Heebo', sans-serif;
}

/* .......... card .......... */

.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 330px;
  border-radius: 1.5rem;
}


